<!DOCTYPE html>
<html>
  <head>
   
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Password Reset</h1>
    <p>Enter your Username below and we'll send you instructions on how to reset your password.</p>
    <form  action = " " method="POST">
      {% csrf_token %}
      {% if message %}
      {{message}}
      {% endif %}
      
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {{form.as_p}}
      <button   class="btn btn-lg btn-block btn-primary">Reset Password</button>
    </form>
  </body>
</html>
